div.eight.columns.offset-by-four
  h2 Your Charts
  hr
  ul.disc
    - each chart in charts
      li: a(href="/chart/#{chart._id}") #{chart.title}
  p(style="text-align: right")
    a.button(href="/chart") + Make a new chart
