div.sixteen.columns(style="text-align: center")
  h1.remove-bottom(style="margin-top: 0.5em") Chartlol
  hr
div.one-third.column.mobile-businesscat
  h3 Track Your Stuff
  p Chartlol helps you track values that change over time with an interface that's so simple it's embarrassing.
  ul.disc
    li
      strong Health:
      |  Track your weight, your BMI, your body fat percentage, your blood
      | pressure, anything you like.
    li
      strong Finance:
      |  Stocks, currencies, markets, futures, federal stimulus packages,
      | you name it.
    li
      strong Anything:
      |  Temperatures, cat lengths, radiation levels, rage quits, chemtrail
      | densities. Your imagination's the limit.
  p 
    | Enter your stuff as you go along, or import your stuff from your spreadsheets.
    | Your stuff, your choice.
div.one-third.column.businesscat
  h3 Graph Your Stuff
  p
    | Visualise your data with slick graphs that will impress your friends and
    | business associates. Share your graphs with a simple, no-nonsense link.
div.one-third.column
  h3 Get Started Now!
  p
    | Signup is stupidly easy. All we need from you is a username and a password
    | so you can get at your stuff. We don't even want your email.
  ul.disc
    li Completely free!
    li Completely anonymous!
    li Guaranteed no evil!

  p.big-button: a.big-button(href="/login") Let's go! &rarr;
