!!! 5
html(lang="en")
  head
    meta(charset="utf-8")
    - if (title)
      title Chartlol - #{title}
    - else
      title Chartlol
    meta(name="description", content="")
    meta(name="author", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
    link(rel="stylesheet", href="/css/base.css")
    link(rel="stylesheet", href="/css/skeleton.css")
    link(rel="stylesheet", href="/css/layout.css")
    link(rel="stylesheet", href="/css/local.css")
    script(src="/js/jquery-1.6.2.min.js")
    script(src="/js/app.js")
  body
    div.container
      div.sixteen.columns.sitebar
        span.left
          - if (title)
            a(href="/") Chartlol
            | &nbsp;-&nbsp;#{title}
          - else
            a(href="/") Chartlol
        span.right
          - if (session.user)
            | #{session.user}
          - else
            a(href="/login") Login
      - if (msg)
        div.eight.columns.offset-by-four
          div.error-msg
            p= msg
      != body
      div.sixteen.columns.small-print
        hr
      div.four.columns.small-print.left
        p Fork me on
          br
          a(href="http:/github.com/bodil/chartlol")
            img(src="/img/github.png", alt="GitHub")
      div.eight.columns.small-print
        p Copyright &copy; 2011 
          a(href="http://github.com/bodil") Bodil Stokke
        p Content licensed under a 
          a(href="http://creativecommons.org/licenses/by-sa/3.0/") Creative Commons Attribution-ShareAlike 3.0
          |  license.
      div.four.columns.small-print.right
        p Hosted by
          br
          a(href="http:/heroku.com/")
            img(src="/img/heroku.png", alt="Heroku")
