div.eight.columns.offset-by-four
  h1 Login
  hr

form.eight.columns.offset-by-four.clearfix.login-box(method="post", action="/login")
    div.two.columns.alpha: label(for="username") Username:
    div.six.columns.omega: input#username(type="text", name="username")
    div.two.columns.alpha: label(for="password") Password:
    div.six.columns.omega: input#password(type="password", name="password")
    div.two.columns.alpha &nbsp;
    div.six.columns.omega: button.full-width(type="submit") Login

div.eight.columns.offset-by-four
  hr
  p
    | If you don't have an account here, just enter the username and password
    | you want to use, and we'll create the account for you right away.
  hr
  h3 Terms of Service
  p
    strong tl;dr:
    |  None of the information you store on this site is private, except your
    | password. Don't give us any info you're not comfortable sharing with
    | the whole world.

script
  $("#username").focus()
