@import "mixins"

body
  background url("/img/background.png") repeat-x fixed top

div.sitebar
  background-linear-gradient(top, #777, 0%, #111, 100%, left top, left bottom)
  color white
  padding-top 0.5em
  padding-bottom 0.5em
  text-align left
  margin-bottom 1em
  font-family "Georgia", "Times New Roman", Helvetica, Arial, sans-serif
  font-size 1.5em
  border-bottom-left-radius 4px
  border-bottom-right-radius 4px

  a
    color white
    text-decoration none

  & span.left
    margin-left 0.5em
  
  & span.right
    float right
    margin-right 0.5em

form.login-box
  margin-bottom 0px

  & input[type="text"],
  & input[type="password"],
  & input[type="email"]
    width 97%

div.error-msg
  background #fcc url("/img/trollface.png") no-repeat 4px 4px
  min-height 88px
  border-radius 10px

  & p
    padding 1em 1em 1em 96px

div.businesscat
  background url("/img/businesscat.png") no-repeat top center
  padding-top 268px

p.big-button
  text-align center
  margin-top 3em
  & a
    background-linear-gradient(top, #777, 0%, #222, 100%, left top, left bottom)
    font-size 2em
    text-decoration none
    font-weight bold
    color #eee
    text-shadow 0px -1px 0px #888
    padding 0.2em 1em
    border-radius 10px
